h1 {
    font-weight:600;
    font-size:xxx-large;
}

h2 {
    font-weight: 600;
    font-size: xx-large;
}

h3 {
  font-weight: 400;
  font-size: x-large;
}

.highlighted-link {
  /* color: #6ED9FB; */
  text-decoration: underline dotted;
}

.help-button {
  position: absolute;
  top: 20px;
  right: 75px;
  width: 40px;
  height: 40px;
}

.home-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
}

.parent {
    padding: 1rem 1rem;
    text-align: center;
  }
.child {
display: inline-block;
padding: 2rem 2rem;
vertical-align: middle;
}

.parentl {
    padding: 1rem 1rem;
  }
  .childl {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: top;
    width: 40%;
  }
  .small-chart-container {
    display: inline-block;
    padding: 2rem 1rem;
    vertical-align: top;
    width: 50%;
    height: 500px;
    margin-top: 0%
  }

.vocabcard {
    padding-left: 20px;
    padding-bottom: 20px;
}

.vocab-tabs {
    margin-bottom: 30%;
}

/* stuff for home page */
.home-search {
    padding-left: 40px;
    width: 75%;
    height: 250px;
    margin: auto;
    margin-top: 3%;
    margin-bottom:40%;
}

.overflow-auto {
    width: 80%;
    height: 300px;
}

.home-text {
    font-size: larger;
    width: 80%;
    margin-bottom: -2%;
    margin-top: 2%;
}

/* stuff from LayerCake scatterplot */
  /*
    The wrapper div needs to have an explicit width and height in CSS.
    It can also be a flexbox child or CSS grid element.
    The point being it needs dimensions since the <LayerCake> element will
    expand to fill it.
  */
  .chart-container {
    width: 80%;
    height: 800px;
    /* height: 100%; */
    margin-top: 0%
  }
  .circle {
    position: absolute;
    border-radius: 50%;
    background-color: #146f86;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 12px;
    height: 12px;
  }
  .tooltip {
    position: absolute;
    border-radius: 0%;
    border: 1px solid black;
    background-color: white;
    transform: translate(10%, -100%);
    pointer-events: none;
    padding: 0.2em;
  }